.info{
    font-family: 'Segoe UI';
    background-color: rgb(21, 21, 53);
    color: white ;
}
.info h1{
    text-align: center;
}
.info h1{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 36px;
}
.info p{
    margin: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 5%;
    text-align: center;
    font-size: 18px;
}
.menu{
    list-style-type: none;
    padding: 0%;
    display: flex;
    justify-content: flex-start;
}
.menu li{
    position:relative;
    margin-right: 10px;
    font-size: 20px;
    font-family:segoe UI; 
    position: relative;
    border-right: 1px solid #555;
    padding-right:10px;
}
.menu li:last-child{
    border-right: none;
}
.elige-pfp{
    width: 500px;
    height: auto;
}
.intro{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
    margin: 10%;
}
footer{
    font-family: system-ui;
    text-align: center;
}
.homepg{
    background-color: rgb(21, 21, 53);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: lightblue;
}
a:visited{
    color: white;
}
.link:hover{
    color: lightblue ;
}
.hltv:visited{
    color:grey
}

.text-top{
    text-align: center;
    padding: 20px;
}
.highlights{
    font-family: 'Segoe UI';
    background-color: rgb(21, 21, 53);
    color: white;
}
video{
    max-width: 500px;
    height: auto;
}
.container {
    display: grid;
    gap: 10px; /* Space between videos */
    justify-items: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
@media (max-width: 600px) {
    .container {
      grid-template-columns: repeat(1, 1fr); /* Stack videos in one column */
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .container {
      grid-template-columns: repeat(2, 1fr);  /* Two columns for medium screens */
    }
}
@media (min-width: 901px) {
    .container {
      grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
    }
  }
.top-text{
    text-align: center;
    margin: 5%;
}
.top-text h1{
    font-size: 34px;
}    
.top-text p{
    font-size: 20px;
    font-style: oblique;
}